.chat-container{
    width: 700px;
    height: 400px;
    padding: 10px;
    border: 2px solid rgb(253, 135, 154);
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
  }
  
  .chat-box{
    width: 100%;
    min-height: 50px;
    background: #32618a;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    word-break: break-all;
    padding: 5px;
  }
  
  .chat-box.me{
    width: 100%;
    background: #FFF;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: right;
    border: 1px solid #32618a;
    color: #000;
    word-break: break-all;
  }
  
  textarea{
    min-width: 612px;
    height: 30px; 
    margin-left: 5px;
    padding: 5px;
  }
.submites-button{
    height: 35px;
    width: 100px;
    background-color: #3757e7;
    border: 0;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.bot-box{
    width: 736px;
    height: auto;
    display: grid;
    justify-content: center;
    margin: auto;
}

@media screen and (max-width: 760px) {
    .bot-box{
        width: 100%;
    }
}