

.lis a{
    text-decoration: none;
    color: black;
}

.lis a:hover{
    color: greenyellow;
    cursor: pointer;
}

.motherX{
    display: flex;
    justify-content: center;
}

li:hover{
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black;
    color: black;
    cursor: default;
}